body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: black;
  margin: 0 5px;
}

#featured-property figure {
    text-align: center;
}

#featured-property figcaption {
  font-size: small;
  text-align: center;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

#details {
  overflow: hidden;
  text-align: center;
  padding: 0px 0;
  background-color: red;
}

#details > div {
  float: left;
  width: 25%;
  box-sizing: border-box;
  background-color: red;
  text-align: center;
  padding: 0px 0;
}

#details > div p {
  padding: 0px 0px;
}